 .bandeira {
     width: 500px;
     height: 300px;
     display: flex;
     margin: 50px;
     border: solid black;
     border-radius: 25px;
     overflow: hidden;
} 

.faixa-verde {
    background-color: green;
    flex: 1;
}

.faixa-branca {
    background-color: white;
    flex: 1;
}

 .faixa-branca {
    flex: 1;
}  

 .retangulo {
    width: 500px;
    height: 300px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.losango {
    background-color: yellow;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleY(.5) rotate(45deg)
}

.circulo {
    background-color: blue;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
} 


.faixa-preta {
    background-color: black;
    flex: 1;
}

.faixa-amarela {
    background-color: yellow;
    flex: 1;
}

.faixa-vermelha {
    background-color: red;
    flex: 1;
} 

.japao-branca {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.japao-circulo {
    background-color: red;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.amarela {
    background-color: yellow;
    flex: 2;
}

.azul {
    background-color: blue;
    flex: 1;
}

.vermelha {
    background-color: red;
    flex: 1;
}


.ea-vermelho {
    background-color: red;
    flex: 1;
}

.band {
    flex: 3;

    display: flex;
    flex-direction: column;
}

.ea-verde {
    background-color: green;
    flex: 1;
}

.ea-branco {
    flex: 1;
}

.ea-preto {
    background-color: black;
    flex: 1;
}


.quadrado {
    background-color: red;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    border: solid black;
    border-radius: 25px;
    overflow: hidden;
}


.cruz-branca {
    background-color: white;
    display: flex;
    flex: 1;
    width: 150px;
    height: 50px;
    position: absolute;
}

.cruz-deitada {
    background-color: white;
    width: 150px;
    height: 50px;
    transform: rotate(90deg);

    
}

.bandeira-jor {
    width: 500px;
    height: 300px;
    display: flex;
    margin: 50px;
    border: solid black;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

 .jor-vermelho {
    height: 300px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    position: absolute;
    clip-path:polygon(0% 0%, 100% 50%, 0% 100%);
}

.jor-estrela {
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    left: 20%;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    
}

.band-jordania {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.jor-preto {
    background-color: black;
    flex: 1;
}

.jor-branco {
    flex: 1;
}

.jor-verde {
    background-color: green;
    flex: 1;
} 

.bandeira-tri {
    width: 500px;
    height: 300px;
    display: flex;
    margin: 50px;
    border: solid black;
    border-radius: 25px;
    overflow: hidden;
    background: linear-gradient(
        150deg,
        #e11b22 0%, #e11b22 38%,
        #ffffff 38%, #ffffff  42%,
        #000000 42%, #000000 58%,
        #ffffff 58%, #ffffff 62%,
        #e11b22 62%, #e11b22 100%
    )
} 

.bandeira-tur {
    background-color: #e11b22;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    border: solid black;
    border-radius: 25px;
    overflow: hidden;
}

.circulo-tur {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-right: 300px;
    
} 

.circulo-menor {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #e11b22;
    position: absolute;
    margin-right: 260px;
}

.estrela-tur {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    margin-left: 80px;
    
}

.bandeira-grecia {
    width: 500px;
    height: 300px;
    display: flex;
    margin: 50px;
    border: solid black;
    border-radius: 25px;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}


.quadrado-grecia {
    background-color: #274DEA;
    width: 150px;
    height: 167px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    
} 

.cruz-grecia {
    width: 150px;
    height: 31px;
    background-color: #ffffff;
}

.cruz-grecia-deitada {
    width: 170px;
    height: 31px;
    background-color: #ffffff;
    transform: rotate(90deg);
    position: absolute;
    
} 

.band-grecia {
    flex: 9;
    display: flex;
    flex-direction: column;
}

.grecia-azul {
    flex: 1;
    background-color: #274DEA;
}

.grecia-branca {
    flex: 1;
    background-color: #ffffff;
}

.band-chile {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 50px;
    border: solid black;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
} 


.chile-branco {
    flex: 1;
    background-color: #ffffff;
}

.chile-vermelho {
    flex: 1;
    background-color: #e11b22;
}

.quadrado-chile {
    width: 150px;
    height: 150px;
    background-color: blue;
    position: absolute;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.estrela-chile {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    clip-path: polygon(50% 100%, 100% 50%, 50% 100%, 100% 50%, 100% 50%);
}

/* 
.bandeira-eua {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid black;
    }

.faixa-vermelha {
    flex: 1;
    background-color: brown;
}

.faixa-branca {
    flex: 1;
    background-color: aliceblue;
}

.quadrado-azul {
    width: 150px;
    height: calc(100%/13*7);
    background-color: darkblue;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    box-sizing: border-box;
    gap: 7px;
}

.estrela {
    width: 5px;
    height: 5px;
    background-color: aliceblue;
}
*/